.mainNav {
  background-color: #30aee3;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 6rem 2fr 3fr 2fr 6rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navlogo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  height: 4rem;
}

.navlogo h2 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.navlogo h2 span {
  font-size: 1.8rem;
}

.navlinks {
  grid-column: 3/4;
}

.homeSVG {
  width: 75%;
  height: auto;
}

li {
  list-style: none;
}

.navlinks {
  grid-column: 3/4;
}

.navlinks ul {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: auto 10px;
}

.search {
  width: 70%;
}

.loginSVG {
  width: 75%;
}

.searchSVG {
  width: 8%;
  height: auto;
}

.navlogin {
  display: grid;
  grid-column: 4/5;
  align-items: center;
  justify-content: end;
}

.headerSearchContainer {
  display: flex;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 20px;
}

.headerSearchContainer>input {
  padding-left: 20px;
  margin-right: 2%;
  font-size: 15px;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}