nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

nav .links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}