.auth {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    height: 100vh;
    padding: 30px 0;
    background-color: #C3E5FE;
    /* background-image: url(C:\Users\kdkar\Desktop\mini-project-2\discussion-forum\src\components\download.jpg); */
    /* background-image: image(C:\Users\kdkar\Desktop\mini-project-2\discussion-forum\src\components\download (1).jpg); */

}

.auth-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* height: 300px; */
}

.auth-container>p {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.sign-options {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-self: bottom;
    position: absolute;
    bottom: 25%;
}

.single-option {
    display: flex;
    padding: 12px;
    margin: 5px 5px;
    margin-top: 10px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(66, 42, 42, 0.19);
    cursor: pointer;
    transition: all 0.3s;
    /* width: 300px; */
}

.single-option:hover {
    box-shadow: 0 4px 8px 0 #0095ff15, 0 6px 20px 0 #0095ff52;
}

.single-option>p {
    margin-left: 10px;
}

.single-option>img {
    width: 20px;
    height: 20px;
    padding-left: 80px;
}

/* .logo {
    width: 20px;
    height: 20px;
} */

.auth-login {
    display: flex;
    margin: 40px 0;
    width: 1100px;
    height: 560px;
}

.auth-login-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(66, 42, 42, 0.19);
    border-radius: 3px;

}

.input-field {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 450px;
    align-self: end;
}

.input-field>p {
    font-size: 1.1rem;
    margin: 10px 0;
    padding-left: 5px;
}

.input-field>input {
    padding: 10px;
    border: 1px solid #0095ff8e;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
}

.image {
    width: 100px;
    height: 100px;
    margin: 10px 20px 20px 40px;
    align-self: center;
}

.message {
    justify-content: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding: 5px 0px 20px 7px;
    width: 400px;
    align-self: center;
    /* background-color: aqua; */
}

.login-button {
    width: 200px;
    align-self: end;
    margin-right: 130px;
}

.button-auth {
    width: 200px;
    align-self: end;
    margin-right: 130px;
    text-align: center;
}